body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
.header, .footer{
    background-color: #888;
    height: 120px;
}
.keyboard {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-gap: 5px;
    padding: 10px;
    background: #333;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 90vw;
    box-sizing: border-box;
    margin: 80px;
}
.key {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    position: relative;
}
.key span {
    display: block;
    text-align: center;
}
.key sup {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 0.8em;
    color: black;
}
.key i {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 0.8em;
    color: black;
}
.bi-microsoft::before {
    content: "\f65d";
    position: absolute;
    top: 14px;
    left: 17px;
    width: 20px;
    height: 20px;
    font-size: 25px;
}
.key:active {
    background: #ddd;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}
.key.loai2 {
    grid-column: span 2;
}
.key.loai3 {
    grid-column: span 3;
}
.key.loai5 {
    grid-column: span 5;
}
.key.null {
    grid-column: span 12;
}

@media (max-width: 1200px) {
    .key {
        height: 50px;
    }
}
@media (max-width: 900px) {
    .key {
        height: 40px;
    }
}
@media (max-width: 600px) {
    .key {
        height: 30px;
    }
}
@media (max-width: 400px) {
    .key {
        height: 25px;
    }
}
.navigation a {
    text-decoration: none;
    color: #000000;
    margin: 30px 30px;
    font-weight: 600;
}
.navigation{
    height: 50px;
    padding-top: 20px;
}

.key.active {
    background-color: #ef89df;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

